@model IEnumerable<fit5120.Models.UV>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Introductory text</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>

    @Html.TextBox("Max value", (object)ViewBag.data)

</div>
<h3>Forcast</h3>
@Html.TextBox("Max value", (object)ViewBag.data1)
<br />
<br />